.search-results {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    font-family: monospace;
}

.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 3px;
    color: #3D4653;
    opacity: 0.6;
    margin-bottom: 30px;
}

.search-results-section {
    margin-top: 20px;
}

.back-button {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #10BDC7;
}

.search-header {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    margin-top: 42px;
}

.search-header-text {
    font-family: Syncopate;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color: #3D4653;
    margin-left: 13px;
}