.search-bar {
    position: absolute;
    top: 150px;
    left: 850px;
}

.search-file-selector {
    height: 48px;
    width: 827px;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #3952D3;
    background: #FFFFFF;
    border: 1px solid rgba(61, 70, 83, 0.3);
}

.search-bar-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.search-button {
    position: absolute;
    top: 10px;
    left: 786px;
}

#file-selector-label {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 20px;
}

.loading-bar {
    position: absolute;
    height: 48px;
    width: 827px;
    left: 750px;
    top: 150px;
    background: #333333;
    border: 3px solid rgba(233, 98, 195, 0.8);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}