.ui.cards>.card>.image-score {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
    color: #FFFFFF;
    width: 2.5em;
    height: 2.5em;
    box-sizing: initial;
    background: #fff;
    text-align: center;
    border-radius: 50% !important;    

    line-height: 2.5em;
    box-sizing: content-box;  
}