.result-section-container {
    margin-top: 10px;
}

.result-section-heading-container {
    display: flex;
    align-items: center;
    margin: 40px 0;
  }

.result-section-divider {
    width: 100%;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    margin-top: 1px;
}

.result-section-heading {
    color: rgba(61, 70, 83, 0.8);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 8px;
    white-space: nowrap;
}

.result-section-heading-image {
    box-shadow: -5px 5px;
}

.result-section-heading .result-section-heading-count {
    font-weight: normal;
}